.Benefits { /* Estilo de los beneficios */
    display: flex; /* Usar flexbox para el diseño */
    justify-content: space-between;
    flex-direction: row;
    align-items: center; /* Alinear los elementos al centro horizontalmente */
    background-color: #961435; /* Color del fondo */
    padding: 10px; /* Espaciado interno */
    margin: 90px 45px 60px 0; /* Espaciado externo, centrado horizontalmente */
    width: 98.6%; /* Ancho del contenedor */
    color: #ebe0c2; /* Color de letra*/
    line-height: 1.6; /* Altura de línea para mejor legibilidad */
    font-size: 1.4vw; /* Agrandar la letra del 1.4% de la pantalla*/
}

.Boton {
    padding: 10px;
    width: 30%;
    height: auto;
}

.Benefits .Benefits1 {
    background-color: #ebe0c2; /* Color de fondo */
    color: #333; /* Color de la letra */
    width: 60%; /* Ancho del contenedor */
    height: 10%;
    border-radius: 20px; /* Bordes redondeados */
    margin-right: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor del borde */
    font-family: 'Montserrat', sans-serif; /* Tipo de letra */
    font-weight: bold; /*Letra negrita*/
    display: flex; /* Usar flexbox para el diseño */
    align-items: center; /* Alinear los elementos al centro verticalmente */
    padding-left: 30px; /* Ajustar espacio a la izquierda para la imagen */
    margin-left: 0; /* Eliminar margen negativo */
    flex-direction: 1;
}

.Benefits .Benefits1 p {
    font-size: 1vw; /* Tamaño de la fuente más pequeño */
    margin-left: 40px;
}

.Benefits .Benefits1 img {
    width: 35%;
    height: auto;
    margin-left: 25px; /* Ajustar margen para posicionar la imagen */
    border: 50px #797339;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Sombra alrededor del borde */
    margin-right: auto;
}

.Benefits h2 { /* Estilo del título de los beneficios */
    text-align: center; /* Centrar el texto */
    font-family: 'Playfair Display', serif; /* Fuente legible */
    margin-bottom: 10px;
    margin-right: 300px;
}